.custom_notify-block {
	height: 305px;
	width: 657px;
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: nowrap;
	flex-shrink: 0;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	overflow: hidden;
	pointer-events: none;
}

.custom_notify {
	position: relative;
	padding: 15px 35px;
	margin-top: 5px;
	word-wrap: break-word;
	text-align: center;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	background: rgba(7, 16, 48, 0.7);
	border-radius: 50px;
	flex-shrink: 0;
}

.custom_notify-ico {
	position: absolute;
	top: 50%;
	left: 7px;
	transform: translateY(-50%);
}